[user]
    name = Joel Gallant
    email = joel@joelgallant.me
    signingkey = 05D356088DE03D28
[commit]
    gpgsign = true
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = nvim
[push]
    default = simple
[pager]
    diff = true
[credential]
    helper = cache --timeout 86400
[color]
    ui = auto
[alias]
    st = status
    ci = commit -v
    cin = commit -v --no-verify
    cie = commit -v --file=.git/COMMIT_EDITMSG --edit
    co = checkout
    br = branch
    df = diff
    dc = diff --cached
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pr = pull --rebase
    gr = log --all --graph --decorate --oneline
    up = push -u origin HEAD
    please = push --force-with-lease
    stsh = stash --keep-index
    staash = stash --include-untracked
    staaash = stash --all
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
