<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" label="Openbox 3">
        <item label="Run Program">
            <action name="Execute">
                <command>
                    dmenu_run
                </command>
            </action>
        </item>
        <separator/>
        <item label="Terminal">
            <action name="Execute">
                <command>
                    terminator
                </command>
            </action>
        </item>
        <item label="Firefox">
            <action name="Execute">
                <command>
                    firefox
                </command>
            </action>
        </item>
        <item label="Chrome">
            <action name="Execute">
                <command>
                    google-chrome-beta
                </command>
            </action>
        </item>
        <item label="File Manager">
            <action name="Execute">
                <command>
                    thunar
                </command>
            </action>
        </item>
        <item label="Media Player">
            <action name="Execute">
                <command>
                    vlc
                </command>
            </action>
        </item>
        <separator/>
        <menu id="utilities" label="Utilities">
            <item label="Transmission">
                <action name="Execute">
                    <command>transmission-gtk</command>
                </action>
            </item>
            <item label="Archive">
                <action name="Execute">
                    <command>
                        xarchiver
                    </command>
                </action>
            </item>
            <item label="Task Manager">
                <action name="Execute">
                    <command>terminator --command=&quot;htop&quot;</command>
                </action>
            </item>
        </menu>
        <menu id="media" label="Media">
            <item label="GIMP">
                <action name="Execute">
                    <command>
                        gimp
                    </command>
                </action>
            </item>
            <item label="Image Viewer">
                <action name="Execute">
                    <command>
                        gpicview
                    </command>
                </action>
            </item>
            <item label="VLC Media Player">
                <action name="Execute">
                    <command>
                        vlc
                    </command>
                </action>
            </item>
            <item label="Clementine">
                <action name="Execute">
                    <command>
                        clementine
                    </command>
                </action>
            </item>
            <item label="Screenshot">
                <action name="Execute">
                    <command>
                        scrot -s '/home/joel/pictures/%Y-%m-%d-%H:%m-screenshot.png'
                    </command>
                </action>
            </item>
        </menu>
        <menu id="office" label="Office">
            <item label="Libreoffice Calc">
                <action name="Execute">
                    <command>
                        libreoffice --calc
                    </command>
                </action>
            </item>
            <item label="Libreoffice Writer">
                <action name="Execute">
                    <command>
                        libreoffice --writer
                    </command>
                </action>
            </item>
            <item label="Calculator">
                <action name="Execute">
                    <command>
                        galculator
                    </command>
                </action>
            </item>
        </menu>
        <separator/>
        <menu id="settings" label="Settings">
            <menu id="obConfig" label="Openbox">
                <item label="Reconfigure">
                    <action name="Reconfigure"/>
                </item>
                <item label="Restart">
                    <action name="Restart"/>
                </item>
            </menu>
            <separator/>
            <item label="openbox">
                <action name="Execute">
                    <command>
                        obconf
                    </command>
                </action>
            </item>
            <item label="tint2">
                <action name="Execute">
                    <command>
                        tint2conf
                    </command>
                </action>
            </item>
            <item label="xscreensaver">
                <action name="Execute">
                    <command>
                        xscreensaver-command -pref
                    </command>
                </action>
            </item>
        </menu>
        <menu id="system" label="System">
            <item label="sound">
                <action name="Execute">
                    <command>
                        pavucontrol
                    </command>
                </action>
            </item>
            <item label="network">
                <action name="Execute">
                    <command>
                        nm-connection-editor
                    </command>
                </action>
            </item>
            <item label="gparted">
                <action name="Execute">
                    <command>
                        gksu gparted
                    </command>
                </action>
            </item>
        </menu>
        <separator/>
        <item label="Lock">
            <action name="Execute">
                <command>
                    xscreensaver-command --lock
                </command>
            </action>
        </item>
        <item label="Log Off">
            <action name="Execute">
                <execute>
                    openbox --exit
                </execute>
                <prompt>Are you sure you want to exit openbox?</prompt>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="Reboot">
            <action name="Execute">
                <command>
                    systemctl reboot
                </command>
                <prompt>Are you sure you want to reboot?</prompt>
                <startupnotify>
                    <enabled>yes</enabled>
                    <name>Reboot system</name>
                </startupnotify>
            </action>
        </item>
        <item label="Power Off">
            <action name="Execute">
                <command>
                    systemctl poweroff
                </command>
                <prompt>Are you sure you want to shutdown?</prompt>
                <startupnotify>
                    <enabled>yes</enabled>
                    <name>Power off system</name>
                </startupnotify>
            </action>
        </item>
    </menu>
</openbox_menu>
