<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" label="Openbox 3">
        <item label="Run Program">
            <action name="Execute">
                <command>
                    dmenu_run
                </command>
            </action>
        </item>
        <separator/>
        <item label="Terminal">
            <action name="Execute">
                <command>
                    terminator
                </command>
            </action>
        </item>
        <item label="Web Browser">
            <action name="Execute">
                <command>
                    chromium
                </command>
            </action>
        </item>
        <item label="File Manager">
            <action name="Execute">
                <command>
                    thunar
                </command>
            </action>
        </item>
        <item label="Text Editor">
            <action name="Execute">
                <command>
                    terminator --command=vim
                </command>
            </action>
        </item>
        <item label="Media Player">
            <action name="Execute">
                <command>
                    vlc
                </command>
            </action>
        </item>
        <item label="Slack">
            <action name="Execute">
                <command>
                    plaidchat --minimize-to-tray --close-to-tray
                </command>
            </action>
        </item>
        <separator/>
        <menu id="accessories" label="Accessories">
            <item label="Archive Manager">
                <action name="Execute">
                    <command>
                        xarchiver
                    </command>
                </action>
            </item>
            <item label="Task Manager (htop)">
                <action name="Execute">
                    <command>terminator --command=&quot;htop&quot;</command>
                </action>
            </item>
        </menu>
        <menu id="graphics" label="Graphics">
            <item label="Image Viewer">
                <action name="Execute">
                    <command>
                        gpicview
                    </command>
                </action>
            </item>
      <item label="Screenshot">
        <action name="Execute">
          <command>
            scrot -s '/home/joel/pictures/%Y-%m-%d-%H:%m-screenshot.png'
          </command>
        </action>
      </item>
        </menu>
        <menu id="multimedia" label="Multimedia">
            <item label="VLC Media Player">
                <action name="Execute">
                    <command>
                        vlc
                    </command>
                </action>
            </item>
            <item label="Volume Control">
                <action name="Execute">
                    <command>
                        pavucontrol
                    </command>
                </action>
            </item>
        </menu>
        <menu id="network" label="Network">
            <item label="Transmission BitTorrent Client">
                <action name="Execute">
                    <command>transmission-gtk</command>
                </action>
            </item>
        </menu>
        <menu id="office" label="Office">
            <item label="Libreoffice Calc">
                <action name="Execute">
                    <command>
                        libreoffice --calc
                    </command>
                </action>
            </item>
            <item label="Calculator">
                <action name="Execute">
                    <command>
                        galculator
                    </command>
                </action>
            </item>
        </menu>
        <separator/>
        <menu id="settings" label="Settings">
            <menu id="obConfig" label="Openbox">
                <item label="GUI Config Tool">
                    <action name="Execute">
                        <command>
                            obconf
                        </command>
                    </action>
                </item>
                <separator/>
                <item label="Reconfigure">
                    <action name="Reconfigure"/>
                </item>
                <item label="Restart">
                    <action name="Restart"/>
                </item>
            </menu>
            <item label="Screensaver">
                <action name="Execute">
                    <command>
                        xscreensaver-demo
                    </command>
                </action>
            </item>
        </menu>
        <menu id="system" label="System">
            <item label="GParted">
                <action name="Execute">
                    <command>
                        gksu gparted
                    </command>
                </action>
            </item>
        </menu>
        <separator/>
        <item label="Lock Screen">
            <action name="Execute">
                <command>
                    xscreensaver-command --lock
                </command>
            </action>
        </item>
        <item label="Exit Openbox">
            <action name="Execute">
                <execute>
                    openbox --exit
                </execute>
                <prompt>Are you sure you want to exit openbox?</prompt>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="Power Off">
            <action name="Execute">
                <command>
                    systemctl poweroff
                </command>
                <prompt>Are you sure you want to shutdown?</prompt>
                <startupnotify>
                    <enabled>yes</enabled>
                    <name>Power off system</name>
                </startupnotify>
            </action>
        </item>
    </menu>
</openbox_menu>
